/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img {
  display: block;
}

h1,
h2 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h2 {
  letter-spacing: var(--spacing);
}

h3,
h4 {
  text-transform: capitalize;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-grey-5);
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  /* padding: 0.375rem 0.75rem; */
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  width: 50%;
  margin: auto;
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}

.title {
  padding-bottom: 5.5rem;
  text-align: center;
}

.title>h2 {
  text-transform: uppercase;
  padding-bottom: .5rem;
}


.title a {
  text-transform: capitalize;
}

.title span {
  color: var(--clr-primary-5);
  font-family: 'Dancing Script', cursive;
}

.title a {
  color: var(--clr-secondary);
}

.container {
  padding: 0 1rem;
}


/*
========
Hero
========  
*/

.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.hero .container {
  transition: .5s all;
}

.scroll-tip {
  position: absolute;
  /* bottom: 10%; */
  /* left: 50%; */
  text-align: center;
  /* margin-top: 30rem; */
  opacity: 0;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%) scale(1);
  animation: scrollTip 2s 2s ease infinite;
  font-size: 1rem;
}

.scroll-tip i {
  position: relative;
  left: .5rem;
  /* bottom: .1rem; */
  font-size: .7rem;
}

.scroll-tip i {
  /* font-size: 2rem; */
}

@keyframes scrollTip {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }

  50% {
    transform: translateX(-50%) scale(1.2);
    opacity: 1;
  }

  /* 75% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  } */

  100% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }

  /* 100% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  } */
}

.hero-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: var(--clr-grey-10);
  opacity: 0;
  transition: all 1s;
  margin: auto;
  z-index: -1;
}

.resize-hero {
  width: 90%;
  margin: auto;
}


.hero-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  position: relative;
}


.hero-info {
  inset: 0 !important;
}

.hero .svg-container {
  width: 18rem;
  position: relative;
}

.hero h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  opacity: 0;
}

.hero svg path {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  /* stroke-dasharray: 800;
  stroke-dashoffset: 800; */
  fill: none;
  animation: dash 2s ease-in-out forwards, fill 1s 1.6s ease forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: rgb(23, 50, 69);
  }
}

.hero h1 {
  margin-bottom: 0;
}

.hero h2 {
  font-size: 1.3rem;
  right: 10rem;
  font-family: 'Lato', sans-serif;
  position: relative;
  opacity: 0;
  animation: appearH2 1s 1.8s forwards;
}

@keyframes appearH2 {
  to {
    right: 0;
    opacity: 1;
  }
}


.social-medias {
  position: absolute;
  top: 8rem;
  left: 10rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  width: 10rem;
  opacity: 0;
  animation: appearSocial 1s ease 1.7s forwards;
  z-index: 3;
}

@keyframes appearSocial {
  to {
    left: 4rem;
    opacity: 1;
  }
}



.hero p {
  font-size: 1.3rem;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.social-medias .fab,
.social-medias .fa-solid {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: .3s;
}

.social-medias li a:hover .fa-linkedin {
  color: rgba(31, 126, 235, 0.698);
}

.social-medias li a:hover .fa-github {
  color: var(--clr-grey-5);
}

.social-medias li a:hover .fa-envelope {
  color: var(--clr-primary-8);
}


.water-drop {
  width: 1px;
  height: 1px;
  /* border: 5px solid rgb(23, 50, 69); */
  margin: auto;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: drop 1.4s 1.5s;
  opacity: 0;
}



@keyframes drop {
  10% {
    opacity: 1;
  }

  100% {
    width: 320px;
    height: 320px;
    opacity: 0;
  }
}



.cv-button {
  padding: 1rem;
  cursor: pointer;
}

.mail-list a {
  position: relative;
}

/* 
.mail-popup {
  border: 1px solid var(--clr-grey-1);
  position: absolute;
  pointer-events: none;
  color: #000;
  padding: 1rem 0.5rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all .5s;
  left: -6rem;
  top: 2rem;
  background-color: transparent;
  color: var(--clr-grey-1);
  border-radius: 3px;
}

.mail-list a:hover .mail-popup {
  opacity: 1;
} */


/*
========
About
========  
*/

.hero-background.hero-animate {
  animation: borderAnim 3.5s 1s ease-in-out infinite;
}

@keyframes borderAnim {
  0% {
    border-radius: 64% 36% 70% 30% / 44% 62% 38% 56%;
  }

  25% {
    border-radius: 64% 36% 70% 30% / 55% 59% 41% 45%;
  }

  50% {
    border-radius: 64% 36% 70% 30% / 43% 67% 33% 57%;
  }

  75% {
    border-radius: 71% 29% 70% 30% / 32% 72% 28% 68%;
  }

  100% {
    border-radius: 64% 36% 70% 30% / 44% 62% 38% 56%;
  }
}


#about {
  /* padding: 5rem 0; */
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
}

.about-info {
  margin: auto;
  /* text-align: center; */
  /* border: 1px solid #000; */
  width: fit-content;
}

.my-text {
  margin: auto;
  font-size: 1.1rem;
  /* padding: 1rem; */
  display: grid;
  place-items: center;
  text-align: center;
}

.my-text h2 {
  font-size: 2.3rem;
  font-family: 'Dancing Script', cursive;
  color: var(--clr-grey-1);
  position: relative;
  transform: translateX(-20rem);
  opacity: 0;
  text-align: center;
}

.my-text p {
  position: relative;
  transform: translateX(20rem);
  opacity: 0;
}


.my-text h2.fade-in {
  animation: textLanding .5s 1.5s linear 1 forwards;
}

.my-text p.fade-in {
  animation: textLanding .5s 1.5s linear 1 forwards;
}

@keyframes textLanding {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}



.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  bottom: 6rem;
}

@media screen and (max-width: 639px) {
  .tech-stack .tech-icon {
    width: 25%;
  }

  .tech-stack .tech-icon i {
    font-size: 2.5rem;
  }
}


.tech-stack.fade-in {
  animation: techLanding .4s 1.5s linear 1 forwards;
}

.tech-stack.fade-in .tech-icon i {
  animation: bounceIcons 1s 1 forwards;
}

.tech-stack.fade-in .tech-icon span {
  animation: textShowUp 1s 1s 1 forwards;
}

@keyframes techLanding {
  0% {
    bottom: 6rem;
  }

  100% {
    bottom: 0;
  }
}


.tech-icon {
  padding: 1rem;
  display: grid;
  place-items: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .09); */
  /* border-radius: 50%; */
  position: relative;
  margin-bottom: 2.5rem;
}

/* icons BOUNCES*/

.tech-icon i {
  /* font-size: 2rem; */
  font-size: 3rem;
  opacity: 0;
}

.tech-stack.fade-in .tech-icon:nth-child(2) i {
  animation-delay: .1s;
}

.tech-stack.fade-in .tech-icon:nth-child(3) i {
  animation-delay: .2s;
}

.tech-stack.fade-in .tech-icon:nth-child(4) i {
  animation-delay: .3s;
}

.tech-stack.fade-in .tech-icon:nth-child(5) i {
  animation-delay: .4s;
}

.tech-stack.fade-in .tech-icon:nth-child(6) i {
  animation-delay: .5s;
}

.tech-stack.fade-in .tech-icon:nth-child(7) i {
  animation-delay: .6s;
}

.tech-stack.fade-in .tech-icon:nth-child(8) i {
  animation-delay: .7s;
}

/* span TEXTSHOWUP*/

.tech-icon span {
  opacity: 0;
  position: absolute;
  top: 4rem;
}

.react-text {
  color: #88dded;
}

.node-text {
  color: #6cc24a;
}

.typescript-text {
  color: #007acc;
}

.express-text {
  color: #000;
}

.mongo-text {
  color: #589636;
}

.sass-text {
  /* color: #49a6e9; */
  color: #cc6699;
}

.redux-text {
  color: #764abc;
}

.tailwind-text {
  color: #2f9ec6;
}

.next-text {
  /* color: #e34c26; */
  color: #000000;
}

.tech-stack.fade-in .tech-icon:nth-child(1) span {
  animation-delay: .7s;
}

.tech-stack.fade-in .tech-icon:nth-child(2) span {
  animation-delay: .8s;
}

.tech-stack.fade-in .tech-icon:nth-child(3) span {
  animation-delay: .9s;
}

.tech-stack.fade-in .tech-icon:nth-child(4) span {
  animation-delay: 1s;
}

.tech-stack.fade-in .tech-icon:nth-child(5) span {
  animation-delay: 1.1s;
}

.tech-stack.fade-in .tech-icon:nth-child(6) span {
  animation-delay: 1.2s;
}

.tech-stack.fade-in .tech-icon:nth-child(7) span {
  animation-delay: 1.3s;
}

.tech-stack.fade-in .tech-icon:nth-child(8) span {
  animation-delay: 1.4s;
}


@keyframes textShowUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceIcons {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25% {
    transform: scale(2);
    /* transform: scale(1.3); */
    opacity: .25;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}




/*
=============== 
Projects
===============
*/

#projects {
  /* padding: 5rem 0; */
  margin-top: -8rem;
  /* border-bottom: 1px solid #e6ecf8; */
  margin: auto;
  /* background: var(--clr-grey-10); */
  width: 100%;
  /* overflow: hidden; */
}


.project-cards {
  display: grid;
  gap: 3rem;
  /* padding-top: 3rem; */
}


.project {
  place-items: center;
  border-radius: 10px;
  /* padding-bottom: 5rem; */
  margin: auto;
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-rows: .3fr .5fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 2rem;
}


.project-info {
  position: relative;
  font-size: .9rem;
  flex: 1;
  grid-column: 2/3;
  grid-row: 1/3;
  /* test */
  padding: 1rem;
  /* test */
  /* border: 1px solid #000; */
  /* height: 100%; */
}


@media screen and (min-width: 1920px) {
  .project-info {
    padding: 5rem !important;
  }
}

@media screen and (min-width: 2034px) {
  .project-info {
    padding: 10rem !important;
  }
}

.project-img {
  width: 100%;
  max-width: 47rem;
  display: flex;
  justify-content: center;
  /* align-items: end; */
  /* overflow: hidden; */
  grid-row: 1/2;
  grid-column: 1/2;
  height: 15rem;
  position: relative;
  z-index: 3;
}

.project-img img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: contain;
}

.project-img img.animate-img {
  animation: imgFadeIn .6s ease-out forwards;
}

@keyframes imgFadeIn {
  0% {
    transform: scale(1.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.project-img svg,
.project-img svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.project-img svg rect {
  stroke: #000;
  stroke-width: 4;
  transition: 3s ease;
  stroke-dasharray: 3300;
  stroke-dashoffset: 3300;
}

.project-title {
  font-size: 3rem;
  padding: 0 0 2rem;
  opacity: 0;
  position: relative;
  transition: .5s ease all;
  transform: translateX(10rem);
}

.description {
  opacity: 0;
  position: relative;
  transform: translateY(3rem);
  transition: .5s ease all;
}

.buttons-container {
  opacity: 0;
  position: relative;
  transform: translateX(7rem);
  transition: .5s ease all;
  grid-column: 1/2;
  grid-row: 2/3;
}

.project:nth-child(even) .buttons-container {
  grid-column: 2/3;
  grid-row: 2/3;
}

.project-tools {
  padding: .5rem 0 .9rem;
  /* top: 5rem; */
  /* transform: translate(5rem, 5rem); */
  transition: 1s all;
  position: relative;
}

.project-tools .tools-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: .2rem;
}

.tools-list>li {
  background-color: transparent;
  font-size: 1.2rem;
  padding: .3rem .5rem;
  display: flex;
  align-items: center;
}

.tools-list i {
  font-size: 4rem;
  transition: all 1s;
  opacity: 0;
  /* Test subject */
  display: none;
  /* Test subject */
}

.tools-list span {
  display: inline-block;
  margin: 0 .5rem !important;
  opacity: 0;
  transition: all 1s;
}


.project-tools.project-tools-animate i {
  /* Test subject */
  display: block;
  /* Test subject */
  animation: bounceIcons .8s forwards;
}

.project-tools.project-tools-animate li:nth-child(1) i {
  animation-delay: .1s;
}

.project-tools.project-tools-animate li:nth-child(2) i {
  animation-delay: .3s;
}

.project-tools.project-tools-animate li:nth-child(3) i {
  animation-delay: .6s;
}


/* Button */

.buttons-container {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  transition: 1s all;
  /* justify-content: space-around; */
}

.button {
  border: 2px solid #000;
  padding: .8rem 0;
}

.button:hover .project-link {
  bottom: 0;
  right: 0;
}

.project-link {
  position: relative;
  bottom: .7rem;
  right: .7rem;
  padding: 1rem;
  color: var(--clr-grey-10);
  transition: all .2s
}

.project-link {
  background-color: var(--clr-grey-1);
}

.project-link i {
  margin-right: .5rem;
}

.project-height {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.project-marker {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--clr-grey-1);
  border-radius: 50%;
  /* background-color: var(--clr-grey-1); */
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: grid;
  place-items: center;
  transition: 0.3s;
  color: var(--clr-grey-1);
  /* transform: scale(.5); */
}

.project-marker.marker-idle {
  animation: projectMarker 2s linear infinite;
}

@keyframes projectMarker {
  0% {
    opacity: 0;
    /* transform: scale(1); */
    width: 1rem;
    height: 1rem;
    /* width: .75rem;
    height: .75rem; */
  }

  50% {
    opacity: 1;
    /* transform: scale(3); */
    width: 3rem;
    height: 3rem;
    /* width: 1.5rem;
    height: 1.5rem; */
  }

  100% {
    opacity: 0;
    width: 1rem;
    height: 1rem;
    /* transform: scale(1); */
    /* width: .75rem;
    height: .75rem; */
  }
}

.project-marker.markerPop {
  animation: markerPop .4s linear forwards;
}

@keyframes markerPop {
  10% {
    opacity: 1;
  }

  to {
    opacity: 0;
    width: 20rem;
    height: 20rem;
    /* border-radius: 0%; */
  }
}


/*
=============== 
Contact Me
===============
*/

#contact-me {
  padding: 3rem 0;
}

.contact-container {
  position: relative;
}

#contact-form {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.mail-form {
  padding-bottom: 3rem;
  position: relative;
  flex: 1;
}

#contact-me .title {
  padding-bottom: 0 !important;
}

#contact-me .title h2 {
  font-family: 'Dancing Script', cursive;
  transform: translateX(5rem);
  opacity: 0;
  margin-bottom: 0;
}

.email-card {
  text-align: center;
  padding: 1.5rem 1rem;
  /* font-size: 1.3rem; */
  margin: auto;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-grey-10); */
  /* background-color: #49a6e9; */
  color: var(--clr-grey-1);
  cursor: pointer;
  pointer-events: none;
}

.email-card i {
  margin-right: 1rem;
}

.email-card.fade-in {
  opacity: 1;
  transition: .5s ease all;
  pointer-events: initial;
}

.email-tip {
  position: relative;
}

.email-tip::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Copied to clipboard!";
  width: 100%;
  height: 2rem;
  position: absolute;
  top: -2.2rem;
  left: -1rem;
  background-color: var(--clr-grey-1);
  color: #fff;
  border-radius: 10px;
  z-index: 1000;
  opacity: 0;
}

.email-tip.copied::before {
  animation: emailPopup 2s linear;
}

@keyframes emailPopup {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mail-form .title>p {
  transform: translateX(-5rem);
  opacity: 0;
  padding: 1rem 0;
  /* padding-bottom: 5rem; */
}

.mail-form p span {
  transform: translateX(10rem);
  opacity: 0;
  text-transform: lowercase;
  font-family: initial;
  font-size: 1.5rem;
  color: #222;
}

.mail-form input,
textarea {
  width: 100%;
  padding: 2rem 1rem;
  border: none;
  margin-bottom: 0;
}

.mail-form .name input {
  transform: translateX(-5rem);
  opacity: 0;
}

.mail-form .email input {
  transform: translateX(-8rem);
  opacity: 0;
}

.mail-form textarea {
  transform: translateX(-11rem);
  opacity: 0;
  background-color: transparent;
}

.form-button {
  transform: translateX(5rem);
  opacity: 0;
  width: 90%;
  margin: auto;
}

.name,
.email,
.message {
  position: relative;
}

.message {
  margin-bottom: 2rem;
}

.name::after,
.email::after,
.message::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
}

@keyframes formAnim {
  to {
    width: 100%;
  }
}

.mail-form input:focus {
  outline: none;
  font-weight: 600;
}

.mail-form.fade-in h2,
.mail-form.fade-in p,
.mail-form.fade-in p span,
.mail-form.fade-in input,
.mail-form.fade-in textarea,
.mail-form.fade-in .form-button {
  animation: mailFadeIn .5s 1s ease forwards;
}

.mail-form.fade-in .name::after,
.mail-form.fade-in .email::after,
.mail-form.fade-in .message::after {
  animation: formAnim .5s .7.5s ease forwards;
}

@keyframes mailFadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}



textarea:focus {
  outline: none;
  font-weight: 600;
}

.mail-form input {
  height: 2rem;
  background-color: transparent;
}

.form-button {
  border: 2px solid black;
}

.btn-form {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--clr-grey-1);
  border-radius: 0;
  color: #fff;
  width: 100%;
  font-size: 1.1rem;
  position: relative;
  bottom: 0.7rem;
  right: 0.7rem;
  transition: all .2s;
}

/* 
.form-button .btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-5);
} */

.form-button i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.btn-form:hover {
  bottom: 0;
  right: 0;
  color: var(--clr-grey-1);
  background: var(--clr-grey-10);
  border-right: 1px solid black;
  border-top: 1px solid black;
}

/* LOADER.... */

.loader-wrapper {
  background-color: var(--clr-grey-10);
  display: grid;
  place-items: center;
  position: absolute;
  transform: translateY(-10rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -100;
  transition: .5s ease all;
}

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid var(--clr-grey-1);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--clr-grey-1);
  animation: loader-inner 2s infinite ease-in;
}

.form-result {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  /* background-color: var(--clr-grey-10); */
  font-size: 2rem;
  font-weight: bold;
  transition: .5s all;
  z-index: -100;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*
=======
Footer
=======
*/

#footer {
  /* background: rgb(18, 30, 39); */
  background: rgb(23, 50, 69);
  padding: 2rem 1rem;
  width: 100%;
  font-size: 1.3rem;
  position: relative;
}

.footer {
  width: 70%;
  margin: auto;
}

.footer p {
  margin-bottom: .6rem;
}

.footer-medias {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-medias .fab,
.footer-medias .fa-solid {
  color: var(--clr-white);
}



footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  font-family: 'Dancing Script', cursive;

  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: absolute;
  bottom: 10rem;
  /* bottom: 3rem; */
  right: 1rem;
  display: grid;
  place-items: center;
  /* color: var(--clr-white); */
  color: var(--clr-grey-1);
  padding: 0 1rem;
  opacity: 0;
  z-index: -100;
  /* opacity: 0; */
  transform: translateY(2rem);
}

.top-link.fade-in {
  animation: showTopLink 1s 1s forwards, bounce 3s 2s linear infinite;
}

@keyframes showTopLink {
  to {
    transform: translateY(0);
    opacity: 1;
    z-index: 100;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


/* ============== */
/* @media queries */
/* ============== */

@media screen and (max-width: 342px) {
  .buttons-container {
    flex-direction: column;
  }

  .buttons-container .button {
    max-width: 50%;
  }
}


@media screen and (min-width: 320px) {
  .hero .svg-container {
    width: 20.7rem;
  }

  .hero h1 {
    margin-bottom: 0;
  }

  .hero h2 {
    font-size: 1.3rem;
    right: 10rem;
  }

  .social-medias {
    top: 6.5rem;
    left: 10rem;
    flex-direction: row;
  }

  @keyframes appearSocial {
    to {
      left: 4rem;
      opacity: 1;
    }
  }

  .water-drop {
    border: 2px solid rgb(23, 50, 69);
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 320px;
      height: 320px;
      opacity: 0;
    }
  }

  .project-info {
    /* padding: 0 1rem; */
    font-size: .7rem;
  }

  .buttons-container {
    padding: 2rem 0;
  }

  .project-title {
    font-size: 2rem;
    padding: 0;
  }

  .project-tools .tools-list>li {
    margin-right: .2rem;
    font-size: .7rem;
    padding: .3rem .5rem;
  }

  .description {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 390px) {
  .hero .svg-container {
    width: 24rem;
  }

  .social-medias {
    top: 7rem;
    left: 15rem;
  }

  @keyframes appearSocial {
    to {
      left: 7rem;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 428px) {
  .hero .svg-container {
    width: 22rem;
  }

  .hero h2 {
    font-size: 1.5rem;
    right: 10rem;
  }

  .social-medias {
    left: 15rem;
  }

  @keyframes appearSocial {
    to {
      left: 7rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 428px;
      height: 428px;
      opacity: 0;
    }
  }


  .footer {
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 464px) {
  .my-img img {
    max-width: 70%;
  }
}

@media screen and (min-width: 500px) {
  .project-img {
    height: 20rem;
  }

  .front-end,
  .back-end {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 570px) {
  .hero .svg-container {
    width: 30rem;
  }

  .hero h2 {
    font-size: 2rem;
    right: 10rem;
  }

  .social-medias {
    top: 9.5rem;
    left: 16rem;
  }

  @keyframes appearSocial {
    to {
      left: 11rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 570px;
      height: 570px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 3.2rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2rem;
  }

}

@media screen and (min-width: 576px) {
  .project-title {
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .buttons-container {
    justify-content: center;
  }

  .project-title {
    font-size: 2.7rem;
    text-align: center;
  }

  .project-tools .tools-list {
    justify-content: center;
  }

  .project-tools .tools-list>li {
    font-size: 1rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .buttons-container .button {
    font-size: 1rem;
  }

}


@media screen and (min-width: 767px) {
  /* 
  .project-img {
    height: 30rem;
  } */

  .contact-container input {
    min-height: 3rem;
    font-size: 1.3rem;
  }

  .contact-container textarea {
    font-size: 1.3rem;
    min-height: 10rem;
  }

  @keyframes bounceIcons {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    25% {
      transform: scale(1.3);
      opacity: .25;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 770px) {
  .item {
    width: 100%;
  }

  .tech-icon i {
    font-size: 4rem;
  }

  .tech-icon span {
    top: 7rem;
  }
}

@media screen and (min-width: 800px) {

  .hero .svg-container {
    width: 45rem;
  }

  .hero h2 {
    font-size: 3rem;
    right: 12rem;
  }

  .social-medias {
    top: 13rem;
    left: 30rem;
  }

  @keyframes appearSocial {
    to {
      left: 19rem;
      opacity: 1;
    }
  }

  .water-drop {
    border: 5px solid rgb(23, 50, 69);
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 780px;
      height: 780px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 3.7rem;
  }

  .social-medias {
    width: 11rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2.5rem;
  }

  .my-text h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .top-link {
    font-size: 2rem;
  }

}

@media screen and (min-width: 800px) {

  nav {
    background: transparent;
  }

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-tools {
    flex-direction: row-reverse;
  }

  .nav-header {
    padding: 0 0 0 1rem;
    flex: 1;
  }

  .contact-container {
    padding: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    position: relative;
    /* font-family: 'Dancing Script', cursive;
    font-size: 2rem; */
    font-family: 'Lato', sans-serif;
  }

  .links a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--clr-primary-5);
    position: absolute;
    top: 2.1rem;
    left: 0;
    transition: all .5s;
  }

  .logo {
    font-size: 2.3rem;
  }

  .links a:hover::after {
    width: 100%;
  }

  .links a:hover {
    color: var(--clr-primary-5);
  }

  .project-tools {
    padding: 0.8rem 0 1.2rem;
  }

  .email-card {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) {

  .nav-center {
    max-width: 80%;
  }

  .contact-container {
    display: flex;
    gap: 3rem;
  }

  .hero {
    flex-direction: row-reverse;
  }


  /* .about-info {
    max-width: 50%;
  } */

  .my-text {
    font-size: 1rem;
  }

  .hero-img {
    width: 20rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .project-tools .tools-list>li {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1.8rem;
  }

  .buttons-container .button {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 1025px) {

  .buttons-container {
    width: 100%;
  }

  .about-info {
    padding: 1rem;
    font-size: 1.6rem;
  }

  .project-info {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 1080px) {
  #about {
    display: flex;
  }

  #about>div {
    flex-grow: 1;
  }

  /* .about-info {
    max-width: 50%;
  } */

  .my-text {
    margin: auto;
    font-size: 2rem;
  }

  .my-text>span {
    font-size: 3rem !important;
  }

  .tech-icon {
    width: 7rem;
    height: 7rem;
  }

}


/* TESt */
@media screen and (max-width: 1100px) {
  .project-img {
    grid-column: 1/3 !important;
    grid-row: 1/2;
  }

  .project-info {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .buttons-container {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .tools-list i {
    font-size: 3rem;
  }
}

/* TEst */

@media screen and (min-width: 1100px) {
  .project {
    grid-template-rows: 1fr;
  }

  .project-height:nth-child(odd) .project-img {
    grid-column: 2/3;
  }

  .project-height:nth-child(odd) .project-info {
    grid-column: 1/2;
  }

  .project-marker {
    display: none;
  }

  .project-title {
    text-align: left;
  }

  .project-tools .tools-list {
    justify-content: flex-start;
  }

  .description {
    text-align: left;
  }

  .buttons-container {
    justify-content: flex-start;
  }

  .scroll-tip {
    left: 50%;
    bottom: 10rem;
    font-size: 1.5rem;
  }

  .scroll-tip i {
    font-size: .9rem;
  }

  #contact-me {
    padding-bottom: 10rem;
  }
}


@media screen and (min-width: 1300px) {

  .hero .svg-container {
    width: 55rem;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .social-medias {
    top: 16rem;
    left: 40rem;
  }

  @keyframes appearSocial {
    to {
      left: 22rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1200px;
      height: 1200px;
      opacity: 0;
    }
  }


  .hero .cta {
    font-size: 4rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2.8rem;
  }

  .nav-center {
    max-width: 61%;
  }

  .my-text h2 {
    font-size: 4rem;
  }

  #projects {
    padding: 5rem 5rem;
  }

  .project-img {
    height: 30rem;
    /* height: 100%; */
  }

  .project-info {
    font-size: 1.6rem;
  }

  .mail-form {
    max-width: 30%;
  }

  .top-link {
    bottom: 3rem;
    right: 10rem;
  }
}

@media screen and (min-width: 1600px) {

  .hero .svg-container {
    width: 65rem;
  }

  .hero h2 {
    font-size: 4.3rem;
  }

  .social-medias {
    flex-direction: column;
    top: 0;
    left: 65rem;
  }

  @keyframes appearSocial {
    to {
      left: 72rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1400px;
      height: 1400px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 4.5rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 3rem;
  }

  .social-medias {
    width: 14rem;
  }

  .mail-popup {
    top: -1.7rem;
    left: -17rem;
  }


  #about {
    /* padding: 5rem 12rem; */
    padding: 0 12rem 20rem;
  }

  .my-text h2 {
    font-size: 4rem;
  }

  .hero-img {
    width: 30rem;
  }

  .project-info {
    padding: 0 2rem;
  }

  .item {
    width: 60%;
  }
}

@media screen and (min-width: 1800px) {

  .hero .svg-container {
    width: 60rem;
  }

  .hero h2 {
    font-size: 5rem;
  }

  .social-medias {
    left: 60rem;
  }

  @keyframes appearSocial {
    to {
      left: 75rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1500px;
      height: 1500px;
      opacity: 0;
    }
  }

  .my-text h2 {
    font-size: 5rem;
  }

  /* TEST? */
  .project-info {
    flex: 1;
  }

  .project-tools {
    padding: 1.3rem 0 1.9rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .project-tools .tools-list>li {
    font-size: 1.5rem;
  }

  .description {
    font-size: 2rem;
  }

  .buttons-container .button {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1989px) {
  .my-text h2 {
    min-width: 115%;
  }
}

@media screen and (min-width: 2560px) {

  .social-medias {
    left: 80rem;
  }

  @keyframes appearSocial {
    to {
      left: 95rem;
      opacity: 1;
    }
  }

}