/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --vh: 100%;
}

/*
=============== 
Global Styles
===============
*/
.section {
  height: calc(var(--vh, 1vh) * 100);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img {
  display: block;
  user-select: none;
}

h1,
h2 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h2 {
  letter-spacing: var(--spacing);
}

h3,
h4 {
  text-transform: capitalize;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  /* font-size: 2rem; */
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-grey-5);
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  /* padding: 0.375rem 0.75rem; */
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  width: 50%;
  margin: auto;
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}

.title {
  padding-bottom: 5.5rem;
  text-align: center;
}

.title>h2 {
  text-transform: uppercase;
  padding-bottom: .5rem;
}


.title a {
  text-transform: capitalize;
}

.title span {
  color: var(--clr-primary-5);
  font-family: 'Dancing Script', cursive;
}

.title a {
  color: var(--clr-secondary);
}

.container {
  padding: 0 1rem;
}

.box {
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  transform: scale(2);
}

.box.animateIt {
  animation: animBox .3s ease;
}

@keyframes animBox {
  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/*
========
Hero
========  
*/

.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  user-select: none;
}

.hero .container {
  transition: .5s all;
  position: relative;
}

.scroll-tip {
  width: 100%;
  position: absolute;
  /* bottom: -140%; */
  left: 50%;
  transform: translate(-50%, 700%);
  text-align: center;
  opacity: 0;
  width: fit-content;
  animation: scrollTip 2.5s 5s ease-in-out 3;
  /* font-size: 1rem; */
}

.scroll-tip i {
  font-size: 1.3rem;
}

@keyframes scrollTip {
  0% {
    transform: translate(-50%, 700%) scale(1);
    opacity: 0;
  }

  20% {
    transform: translate(-50%, 700%) scale(1);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, 900%) scale(1.1);
    opacity: 1;
  }

  80% {
    transform: translate(-50%, 700%) scale(1);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 700%) scale(1);
    opacity: 0;
  }
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-grey-10);
  opacity: 0;
  transition: all .8s ease;
  margin: auto;
  z-index: -1;
}

.resize-hero {
  width: 90%;
  margin: auto;
}


.hero-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero .svg-container {
  width: 18rem;
  position: relative;
}

.hero h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  opacity: 0;
}

.hero svg path {
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  /* stroke-dasharray: 800;
  stroke-dashoffset: 800; */
  fill: none;
  animation: dash 1.6s ease-in-out forwards, fill 1s 1.2s ease forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: rgb(23, 50, 69);
  }
}

.hero h1 {
  margin-bottom: 0;
}

.hero h2 {
  font-size: 1.3rem;
  transform: translateX(-10rem);
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  opacity: 0;
  animation: appearH2 .5s ease 1.2s forwards;
  color: var(--clr-grey-5);
}

@keyframes appearH2 {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.social-medias {
  position: absolute;
  top: 8rem;
  left: 10rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  width: 10rem;
  opacity: 0;
  animation: appearSocial .3s ease 1.3s forwards;
  z-index: 3;
}

@keyframes appearSocial {
  to {
    left: 4rem;
    opacity: 1;
  }
}



.hero p {
  font-size: 1.3rem;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.social-medias .fab,
.social-medias .fa-solid {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: .3s;
}

.social-medias li a:hover .fa-linkedin {
  transform: scale(1.2);
}

.social-medias li a:hover .fa-github {
  transform: scale(1.2);
}

.social-medias li a:hover .fa-envelope {
  transform: scale(1.2);
}


.water-drop {
  width: 1px;
  height: 1px;
  margin: auto;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: drop 1s 1.2s;
  opacity: 0;
}



@keyframes drop {
  10% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    transform: scale(10);
    opacity: 0;
  }
}



.cv-button {
  padding: 1rem;
  cursor: pointer;
}

.mail-list a {
  position: relative;
}

/* 
.mail-popup {
  border: 1px solid var(--clr-grey-1);
  position: absolute;
  pointer-events: none;
  color: #000;
  padding: 1rem 0.5rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all .5s;
  left: -6rem;
  top: 2rem;
  background-color: transparent;
  color: var(--clr-grey-1);
  border-radius: 3px;
}

.mail-list a:hover .mail-popup {
  opacity: 1;
} */


/*
========
About
========  
*/


#about {
  /* padding: 5rem 0; */
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
}

.about-info {
  margin: auto;
  /* text-align: center; */
  /* border: 1px solid #000; */
  width: fit-content;
  position: relative;
}

.my-text {
  margin: auto;
  font-size: 1.1rem;
  /* padding: 1rem; */
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 80rem;
}

@media screen and (max-width: 500px) {
  .my-text {
    gap: 0.5rem;
    padding-bottom: 0.7rem;
  }
}

.my-text h2 {
  font-size: 2.3rem;
  font-family: 'Dancing Script', cursive;
  color: var(--clr-grey-1);
  position: relative;
  text-align: center;
  transform: translateX(-20rem);
  opacity: 0;
}

.my-text p {
  position: relative;
  transform: translateX(20rem);
  opacity: 0;
}

.about-info.fade-in .my-text h2,
.about-info.fade-in .my-text p {
  animation: myTextFadeIn .5s 1.3s ease forwards;
}

@keyframes myTextFadeIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  bottom: 6rem;
}

@media screen and (max-width: 639px) {
  .tech-stack .tech-icon {
    width: 25%;
  }

  .tech-stack .tech-icon i {
    font-size: 2.5rem;
  }
}

.about-info.fade-in .tech-stack {
  animation: techLanding .4s 1.3s ease 1 forwards;
}

.about-info.fade-in .tech-stack .tech-icon i,
.about-info.fade-in .tech-stack .tech-icon img {
  animation: bounceIcons .4s .5s forwards;
}

.about-info.fade-in .tech-stack .tech-icon span {
  animation: textShowUp .4s .6s forwards;
}

@keyframes techLanding {
  0% {
    bottom: 6rem;
  }

  100% {
    bottom: 0;
  }
}


.tech-icon {
  padding: 1rem;
  display: grid;
  place-items: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .09); */
  /* border-radius: 50%; */
  position: relative;
  margin-bottom: 2.5rem;
}

/* icons BOUNCES*/

.tech-icon i {
  /* font-size: 2rem; */
  font-size: 3rem;
  opacity: 0;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(2) i {
  animation-delay: .6s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(3) i {
  animation-delay: .7s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(4) i {
  animation-delay: .8s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(5) i {
  animation-delay: .9s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(6) i {
  animation-delay: 1s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(7) img {
  animation-delay: 1.1s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(8) i {
  animation-delay: 1.2s;
}

/* span TEXTSHOWUP*/

.tech-icon img {
  width: 3rem;
  height: 3rem;
  opacity: 0;
}

.tech-icon span {
  opacity: 0;
  position: absolute;
  top: 4rem;
}

.react-text {
  color: #88dded;
}

.vue-text {
  color: #42b883;
}

.typescript-text {
  color: #007acc;
}

.git-text {
  color: #f14e32;
}

.javascript-text {
  color: #F0DB4F;
}

.mongo-text {
  color: #589636;
}

.pinia-text {
  color: #ffe200;
}

.redux-text {
  color: #764abc;
}

.tailwind-text {
  color: #2f9ec6;
}

.next-text {
  /* color: #e34c26; */
  color: #000000;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(2) span {
  animation-delay: .7s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(3) span {
  animation-delay: .8s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(4) span {
  animation-delay: .9s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(5) span {
  animation-delay: 1s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(6) span {
  animation-delay: 1.1s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(7) span {
  animation-delay: 1.2s;
}

.about-info.fade-in .tech-stack .tech-icon:nth-child(8) span {
  animation-delay: 1.3s;
}


@keyframes textShowUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceIcons {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25% {
    transform: scale(2);
    /* transform: scale(1.3); */
    opacity: .25;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}




/*
=============== 
Projects
===============
*/

#projects {
  /* padding: 5rem 0; */
  margin-top: -8rem;
  /* border-bottom: 1px solid #e6ecf8; */
  margin: auto;
  /* background: var(--clr-grey-10); */
  width: 100%;
  /* overflow: hidden; */
}


.project-cards {
  display: grid;
  gap: 3rem;
  /* padding-top: 3rem; */
}


.project {
  place-items: center;
  border-radius: 10px;
  /* padding-bottom: 5rem; */
  margin: auto;
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-rows: .3fr .5fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
}


@media screen and (min-width: 1920px) {
  .project-info {
    padding: 5rem !important;
  }
}

@media screen and (min-width: 2034px) {
  .project-info {
    padding: 10rem !important;
  }
}

.project-img {
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  /* align-items: end; */
  /* overflow: hidden; */
  grid-row: 1/2;
  grid-column: 1/2;
  height: 15rem;
  position: relative;
  z-index: 3;
}

.project-img img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: contain;
}

.project.fade-in .project-img img {
  /* animation: imgFadeIn .4s 1.2s ease-out forwards; */
  animation: imgFadeIn .4s 1s ease-out forwards;
}

/* @media screen and (min-width: 740px) {
  .project.fade-in .project-img {
    animation-delay: 2s;
  }
} */

@keyframes imgFadeIn {
  0% {
    transform: scale(1.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.project-img svg,
.project-img svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.project-img svg rect {
  stroke: #000;
  stroke-width: 4;
  stroke-dasharray: 3300;
  stroke-dashoffset: 3300;
}

.project.fade-in .project-img svg rect {
  animation: drawImgBorder 1s .5s linear forwards, removeImgBorder .4s .9s ease forwards;
}

@media screen and (min-width: 740px) {
  .project.fade-in .project-img svg rect {
    animation: drawImgBorder .5s .5s ease-in-out forwards, removeImgBorder .2s .9s ease forwards;
  }
}

/* @media screen and (min-width: 740px) {
  .project.fade-in .project-img svg rect {
    animation-duration: .65s;
  }
} */

@keyframes drawImgBorder {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes removeImgBorder {
  to {
    opacity: 0;
  }
}



.project-info {
  position: relative;
  font-size: .9rem;
  flex: 1;
  grid-column: 2/3;
  grid-row: 1/3;
  /* test */
  padding: 0 1rem;
  /* test */
  /* border: 1px solid #000; */
  /* height: 100%; */
}

.project-title {
  /* font-size: 3rem; */
  padding: 0 0 2rem;
  opacity: 0;
  position: relative;
  transform: translateY(-10rem);
}

@media screen and (min-width: 768px) {
  .my-text h2 {
    margin-bottom: 0;
  }

  .project-title {
    transform: translateY(-10rem);
  }
}

.project.fade-in .project-title {
  animation: titleFadeIn .3s .6s ease forwards;
}

@keyframes titleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.description {
  opacity: 0;
  position: relative;
  transform: translateX(4rem);
}

.project.fade-in .description {
  animation: descriptionFadeIn .3s .8s ease forwards;
}

@keyframes descriptionFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-reminder {
  font-size: 1rem;
  color: pink;
}


.project-tools {
  padding: .5rem 0 .9rem;
  position: relative;
}

.project-tools .tools-list {
  display: flex;
  gap: .2rem;
}

.tools-list li {
  background-color: transparent;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transform: translateX(10rem);
}

.project.fade-in .project-tools li:nth-child(2) {
  animation-delay: .7s;
}

.project.fade-in .project-tools li:nth-child(3) {
  animation-delay: .9s;
}

.project.fade-in .project-tools li {
  animation: toolsFadeIn .2s .5s ease forwards;
}

@keyframes toolsFadeIn {
  to {
    transform: translateX(0);
  }
}

.tools-list li i {
  font-size: 3rem;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .tools-list li i {
    font-size: 5rem;
  }
}

.project.fade-in .project-tools li i {
  /* display: block; */
  animation: bounceProjectIcons .3s .5s linear forwards;
}

@keyframes bounceProjectIcons {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25% {
    transform: scale(2);
    opacity: 1;
  }

  75% {
    opacity: 1;
    transform: scale(1);
  }

  85% {
    opacity: 1;
    transform: scale(.6);
  }

  95% {
    transform: scale(.6);
    opacity: 1;
  }

  100% {
    transform: scale(.6);
    opacity: 1;
  }
}

.project.fade-in .project-tools li:nth-child(2) i {
  animation-delay: .7s;
}

.project.fade-in .project-tools li:nth-child(3) i {
  animation-delay: .9s
}

.tools-list span {
  display: inline-block;
  /* margin: 0 .5rem !important; */
  opacity: 0;
  display: none;
}

.project.fade-in .project-tools li span {
  display: block;
  animation: toolsTextAppear .5s .6s ease forwards;
}

.project.fade-in .project-tools li:nth-child(2) span {
  animation-delay: .8s;
}

.project.fade-in .project-tools li:nth-child(3) span {
  animation-delay: 1s;
}

@keyframes toolsTextAppear {
  to {
    opacity: 1;
    margin: 0;
  }
}



/* Button */

.buttons-container {
  opacity: 0;
  position: relative;
  transform: translateX(5rem);
  /* transition: .5s ease all; */
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  gap: 3rem;
  padding: 3rem;
  /* justify-content: space-around; */
}

.project.fade-in .buttons-container {
  animation: buttonsFadeIn .3s 1s ease forwards;
}

@keyframes buttonsFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.disabled {
  pointer-events: none;
}

.disabled a {
  background-color: gray;
}

.disabled.button {
  border-color: gray;
}

.project:nth-child(even) .buttons-container {
  grid-column: 2/3;
  grid-row: 2/3;
}

.button {
  border: 2px solid #000;
  padding: .7rem 0;
}

.button:hover .project-link {
  bottom: 0;
  right: 0;
}

.project-link {
  position: relative;
  bottom: .7rem;
  right: .7rem;
  padding: 0.8rem 1rem;
  color: var(--clr-grey-10);
  transition: all .2s;
}

.button:nth-child(2) .project-link {
  /* background-color: #98617D; */
  background-color: white;
  color: var(--clr-grey-1);
  border: 1px solid var(--clr-grey-1);
}

.project-link {
  background-color: var(--clr-grey-1);
}

.project-link i {
  margin-right: .5rem;
}

.project-height {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.project-marker {
  width: 4rem;
  height: 4rem;
  /* opacity: .5; */
  /* border: 2px solid var(--clr-grey-1); */
  border-radius: 50%;
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  display: grid;
  place-items: center;
  transition: .4s .2s ease-in-out;
}

.project-marker svg {
  width: 100%;
  height: 100%;
}

.multi-form-marker {
  width: 3.5rem;
  height: 3.5rem;
}

/* .project.fade-in .ecommerce-marker {
  opacity: 0;
  transform: translate(100%, -50%);
}

.project.fade-in .space-marker {
  opacity: 0;
  transition: .5s ease-out;
  transform: translate(-200%, -50%);
}

.project.fade-in .multi-form-marker {
  opacity: 0;
  transition: .5s ease-out;
  transform: translate(-50%, -50%) rotateZ(720deg);
} */

.project-marker {
  transform: translate(-50%, -50%) scale(0.6)
}

.project.fade-in .project-marker {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5)
}

.netflix-marker {
  transform: translate(-50%, -50%) scale(1)
}

.project.fade-in .netflix-marker {
  opacity: 0;
  transform: translate(-50%, -50%) scale(3)
}


/*
=============== 
Contact Me
===============
*/

#contact-me {
  /* padding: 3rem 0; */
  height: 100vh;
  display: grid;
  place-items: center;
}

#contact-me h2 {
  padding-bottom: 0;
}

#contact-me .container {
  width: 100%;
}

.contact-container {
  position: relative;
  width: 100%;
  /* padding: 1rem 0; */
}

#contact-form {
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

.mail-form {
  position: relative;
  flex: 1;
}

.map-img {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s 0.5s ease;
}

#contact-me .title {
  padding-bottom: 0 !important;
}

#contact-me .title h2 {
  font-family: 'Dancing Script', cursive;
  transform: translateX(5rem);
  opacity: 0;
  margin-bottom: 0;
}

.email-card {
  text-align: center;
  padding: .8rem;
  position: relative;
  /* font-size: 1.3rem; */
  margin: auto;
  width: 75%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-grey-10); */
  /* background-color: #49a6e9; */
  color: var(--clr-grey-1);
  cursor: pointer;
  pointer-events: none;
  border-radius: 10px;
  font-size: 0.8rem;
}

.email-card i {
  margin: 0.2rem 1rem 0 0;
}

.email-tip {
  position: relative;
}

.email-tip::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Copied to clipboard!";
  width: 100%;
  height: 2rem;
  position: absolute;
  top: -2.2rem;
  left: -1rem;
  background-color: var(--clr-grey-1);
  color: #fff;
  border-radius: 10px;
  z-index: 1000;
  opacity: 0;
}

.email-tip.copied::before {
  animation: emailPopup 2s linear;
}

@keyframes emailPopup {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
 .mail-form .title h2{
  font-size: 1.3rem;
  } 
}

.mail-form .title>p {
  transform: translateX(-5rem);
  opacity: 0;
  padding: 1rem 0;
  /* padding-bottom: 5rem; */
}

.mail-form p span {
  transform: translateX(10rem);
  opacity: 0;
  text-transform: lowercase;
  font-family: initial;
  font-size: 1.5rem;
  color: #222;
}

.mail-form input,
textarea {
  width: 100%;
  /* padding: 2rem 1rem; */
  padding: 1rem 0.5rem;
  border: none;
  margin-bottom: 0;
}

.mail-form .name input {
  transform: translateX(-5rem);
  opacity: 0;
}

.mail-form .email input {
  transform: translateX(-8rem);
  opacity: 0;
}

.mail-form textarea {
  transform: translateX(-11rem);
  opacity: 0;
  background-color: transparent;
}

.form-button {
  transform: translateX(5rem);
  opacity: 0;
  width: 90%;
  margin: auto;
}

.name,
.email,
.message {
  position: relative;
}

.message {
  margin-bottom: 2rem;
}

.name::after,
.email::after,
.message::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
}

@keyframes formAnim {
  to {
    width: 100%;
  }
}

.mail-form input:focus {
  outline: none;
  font-weight: 600;
  /* background-color: #ffffff; */
}

.mail-form.fade-in h2,
.mail-form.fade-in p,
.mail-form.fade-in p span,
.mail-form.fade-in input,
.mail-form.fade-in textarea,
.mail-form.fade-in .form-button {
  animation: mailFadeIn .3s .9s ease forwards;
}

.mail-marker {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: .3s ease;
}

.mail-form.fade-in .mail-marker {
  opacity: 0;
}

.mail-form.fade-in .map-img {
  opacity: 1;
  transform: scale(1);
}


@media screen and (min-width: 748px) {

  .mail-marker,
  .mail-form.fade-in .mail-marker {
    display: none;
  }
}

.mail-form.fade-in .name::after,
.mail-form.fade-in .email::after,
.mail-form.fade-in .message::after {
  animation: formAnim .3s .5s ease-in forwards;
}

@keyframes mailFadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.mail-form.fade-in .email-card {
  animation: mailCardAppear .5s .65s ease-in forwards;
}

@keyframes mailCardAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
    background-color: #ffffff;
  }
}



textarea:focus {
  outline: none;
  font-weight: 600;
}

.mail-form input {
  height: 2rem;
  background-color: transparent;
}

.form-button {
  border: 2px solid black;
}

@media screen and (max-width: 800px) {
 .form-button {
  border: 2px solid black;
  width: 65%;
  } 
  .btn-form {
    font-size: 0.7rem !important;
    padding: 0.8rem 1rem !important;
  }
}

.btn-form {
  padding: 1rem;
  border: none;
  background-color: var(--clr-grey-1);
  border-radius: 0;
  color: #fff;
  width: 100%;
  position: relative;
  font-size: 1.2rem;
  bottom: 0.7rem;
  right: 0.7rem;
  transition: all .2s;
}

/* 
.form-button .btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-5);
} */

/* .form-button i {
  font-size: 1.5rem;
  margin-right: 1rem;
} */

.btn-form:hover {
  bottom: 0;
  right: 0;
  color: var(--clr-grey-1);
  /* background: var(--clr-grey-10); */
  background-color: #ffffff;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

/* LOADER.... */

.loader-wrapper {
  /* background-color: var(--clr-grey-10); */
  background-color: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  transform: translateY(-10rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -100;
  transition: .5s ease all;
  border-radius: 10px;
}

.loader-wrapper.animate-loader{
  opacity: 1;
  z-index: 100;
  transform: translateY(0);
}
.loader-wrapper.animate-loader .loader{
  display: block;
}

.loader-wrapper.pullUpLoader {
  animation: loaderGo 1s ease forwards;
}

@keyframes loaderGo {
  to {
    transform: translateY(-10rem);
    opacity: 0;
  }
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid var(--clr-grey-1);
  animation: loader 2s infinite ease;
}

@media screen and (min-width: 1020px) {
  .loader {
    width: 60px;
    height: 60px;
  }

  .hero-info {
    display: grid;
    gap: 1rem;
  }

  .form-result {
    font-size: 2rem;
  }
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--clr-grey-1);
  animation: loader-inner 2s infinite ease-in;
}

.form-result {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  /* background-color: var(--clr-grey-10); */
  font-size: 1.3rem;
  font-weight: bold;
  transition: 1s ease-in-out all;
  z-index: -100;
}

.form-result.fadeOut {
  transform: translateY(-10rem);
  opacity: 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*
=======
Footer
=======
*/

#footer {
  /* background: rgb(18, 30, 39); */
  /* background: rgb(23, 50, 69); */
  /* padding: 2rem 1rem; */
  /* padding-top: 2rem; */
  width: 100%;
  font-size: 1.3rem;
  position: relative;
  /* background-color: var(--clr-grey-10); */
}

.footer {
  padding: 2rem 1rem;

  background: rgb(23, 50, 69);
  /* width: 70%; */
  margin: auto;
}

.footer-medias {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-medias .fab,
.footer-medias .fa-solid {
  color: var(--clr-white);
}



footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  font-family: 'Dancing Script', cursive;

  margin-bottom: 0;
}

.top-link {
  position: absolute;
  bottom: 2%;
  right: 10%;
  width: fit-content;
  margin: auto;
  padding: 0 5rem;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  color: var(--clr-grey-1);
  padding: 0;
  cursor: pointer;
  /* margin-bottom: 1.5rem; */
  opacity: 0;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  .top-link.moved {
    bottom: -25%;
  }
}

.mail-form.fade-in .top-link {
  animation: scrollUp 0.5s 1.3s ease-in-out forwards;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  50% {
    transform: translateY(-50%) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* ============== */
/* @media queries */
/* ============== */

@media screen and (max-width: 342px) {
  .buttons-container {
    flex-direction: column;
  }

  .buttons-container .button {
    max-width: 50%;
  }
}


@media screen and (min-width: 320px) {
  .hero .svg-container {
    width: 20.7rem;
  }

  .hero h1 {
    margin-bottom: 0;
  }

  .hero h2 {
    font-size: 1.3rem;
    right: 10rem;
  }

  .social-medias {
    top: 6.5rem;
    left: 10rem;
    flex-direction: row;
  }

  @keyframes appearSocial {
    to {
      left: 5.35rem;
      opacity: 1;
    }
  }

  .water-drop {
    border: 2px solid rgb(23, 50, 69);
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 320px;
      height: 320px;
      opacity: 0;
    }
  }

  .project-info {
    font-size: .7rem;
  }

  .buttons-container {
    padding: 3rem 0 1rem;
  }

  .project-title {
    font-size: 1.5rem;
    padding: 0;
  }

  .project-tools .tools-list>li {
    margin-right: .2rem;
    font-size: .7rem;
    /* padding: .3rem .5rem; */
  }

  .description {
    font-size: 1rem;
    /* font-size: .8rem; */
  }

}

@media screen and (min-width: 390px) {
  .hero .svg-container {
    width: 24rem;
  }

  .social-medias {
    top: 7rem;
    left: 15rem;
  }

  @keyframes appearSocial {
    to {
      left: 7rem;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 428px) {
  .hero .svg-container {
    width: 22rem;
  }

  .hero h2 {
    font-size: 1.5rem;
    right: 10rem;
  }

  .social-medias {
    left: 15rem;
  }

  @keyframes appearSocial {
    to {
      left: 6rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 428px;
      height: 428px;
      opacity: 0;
    }
  }


  .footer {
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 464px) {
  .my-img img {
    max-width: 70%;
  }
}

@media screen and (min-width: 500px) {
  .project-img {
    height: 20rem;
  }

  .front-end,
  .back-end {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 570px) {
  .hero .svg-container {
    width: 30rem;
  }

  .hero h2 {
    font-size: 2rem;
    right: 10rem;
  }

  .social-medias {
    top: 9.5rem;
    left: 16rem;
  }

  @keyframes appearSocial {
    to {
      left: 10rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 570px;
      height: 570px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 3.2rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2rem;
  }

}

@media screen and (min-width: 576px) {
  .project-title {
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .buttons-container {
    justify-content: center;
  }

  .project-title {
    font-size: 2.7rem;
    text-align: center;
  }

  .project-tools .tools-list {
    justify-content: center;
  }

  .project-tools .tools-list>li {
    font-size: 1rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .buttons-container .button {
    font-size: 1rem;
  }

}

@media screen and (min-width: 742px) {
  .about-background {
    height: 300%;
  }
}


@media screen and (min-width: 767px) {
  /* 
  .project-img {
    height: 30rem;
  } */

  .contact-container input {
    min-height: 3rem;
    font-size: 1.3rem;
  }

  .contact-container textarea {
    font-size: 1.3rem;
    min-height: 10rem;
  }
}

@media screen and (min-width: 770px) {
  .item {
    width: 100%;
  }

  .tech-icon i {
    font-size: 4rem;
  }

  .tech-icon img {
    width: 4rem;
    height: 4rem;
  }

  .tech-icon span {
    top: 7rem;
  }
}

@media screen and (min-width: 800px) {

  .hero .svg-container {
    width: 45rem;
  }

  .hero h2 {
    font-size: 2.5rem;
    right: 12rem;
  }

  .social-medias {
    top: 13rem;
    left: 30rem;
  }

  @keyframes appearSocial {
    to {
      left: 17rem;
      opacity: 1;
    }
  }

  .water-drop {
    border: 5px solid rgb(23, 50, 69);
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 780px;
      height: 780px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 3.7rem;
  }

  .social-medias {
    width: 11rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2.5rem;
  }

  .my-text h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

}

@media screen and (min-width: 800px) {

  nav {
    background: transparent;
  }

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-tools {
    flex-direction: row-reverse;
  }

  .nav-header {
    padding: 0 0 0 1rem;
    flex: 1;
  }

  .contact-container {
    padding: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    position: relative;
    /* font-family: 'Dancing Script', cursive;
    font-size: 2rem; */
    font-family: 'Lato', sans-serif;
  }

  .links a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--clr-primary-5);
    position: absolute;
    top: 2.1rem;
    left: 0;
    transition: all .5s;
  }

  .logo {
    font-size: 2.3rem;
  }

  .links a:hover::after {
    width: 100%;
  }

  .links a:hover {
    color: var(--clr-primary-5);
  }

  .project-tools {
    padding: 0.8rem 0 1.2rem;
  }

  .tools-list i {
    font-size: 5.5rem;
  }

  .email-card {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) {

  .nav-center {
    max-width: 80%;
  }

  .contact-container {
    display: flex;
    gap: 3rem;
  }

  .hero {
    flex-direction: row-reverse;
  }


  /* .about-info {
    max-width: 50%;
  } */

  .my-text {
    font-size: 1rem;
  }

  .hero-img {
    width: 20rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .project-tools .tools-list>li {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1.8rem;
  }

  .buttons-container .button {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 1025px) {

  .buttons-container {
    width: 100%;
  }

  .about-info {
    padding: 1rem;
    font-size: 1.6rem;
  }

  .project {
    gap: 2rem;
  }

  .project-info {
    font-size: 1.2rem;
  }

  .button {
    border: 2px solid #000;
    padding: .8rem 0;
  }

  .project-link {
    position: relative;
    bottom: .7rem;
    right: .7rem;
    padding: 1rem;
    color: var(--clr-grey-10);
    transition: all .2s
  }

  .top-link {
  bottom: 6%;
  right: 6%;
}

  .footer p {
    margin-bottom: .6rem;
  }
}


@media screen and (min-width: 1080px) {
  #about {
    display: flex;
  }

  #about>div {
    flex-grow: 1;
  }

  /* .about-info {
    max-width: 50%;
  } */

  .my-text {
    margin: auto;
    font-size: 2rem;
  }

  .my-text>span {
    font-size: 3rem !important;
  }

  .tech-icon {
    width: 7rem;
    height: 7rem;
  }

  .tech-icon img {
    width: 5rem;
    height: 5rem;
  }

}


/* TESt */
@media screen and (max-width: 1100px) {
  .project-img {
    grid-column: 1/3 !important;
    grid-row: 1/2;
  }

  .project-info {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 1rem;
  }

  .buttons-container {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .tools-list i {
    font-size: 3rem;
  }
}

/* TEst */

@media screen and (min-width: 1100px) {
  .project {
    grid-template-rows: 1fr;
  }

  .project-height:nth-child(odd) .project-img {
    grid-column: 2/3;
  }

  .project-height:nth-child(odd) .project-info {
    grid-column: 1/2;
  }

  .project-marker {
    display: none;
  }

  .project-title {
    text-align: left;
  }

  .project-tools .tools-list {
    justify-content: flex-start;
  }

  .description {
    text-align: left;
  }

  .buttons-container {
    justify-content: flex-start;
  }

  .scroll-tip {
    /* left: 50%; */
    /* bottom: 10rem; */
    font-size: 1.5rem;
  }

  .scroll-tip i {
    font-size: 1.8rem;
  }

  #contact-me {
    /* padding-bottom: 10rem; */
  }
}


@media screen and (min-width: 1300px) {

  .hero .svg-container {
    width: 55rem;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .social-medias {
    top: 16rem;
    left: 40rem;
  }

  @keyframes appearSocial {
    to {
      left: 22rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1200px;
      height: 1200px;
      opacity: 0;
    }
  }


  .hero .cta {
    font-size: 4rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 2.8rem;
  }

  .nav-center {
    max-width: 61%;
  }

  .my-text h2 {
    font-size: 4rem;
  }

  .my-text p {
    padding: 3rem 0;
  }

  #projects {
    padding: 5rem 5rem;
  }

  .project-img {
    height: 30rem;
    /* height: 100%; */
  }

  .project-info {
    font-size: 1.6rem;
  }

  .mail-form {
    /* max-width: 50%; */
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 5rem auto;
    align-items: start;
  }

  .mail-form .title {
    padding: 1rem 0 0 1rem;
  }

  .mail-form h2 {
    font-size: 3rem;
    text-align: left;
  }

  .mail-form p {
    font-size: 1.8rem;
    text-align: left;
  }

  .email-card {
    grid-column: 1 / 2;
    margin: 0 auto 0 0;
  }

  #contact-form {
    grid-column: 1 / 2;
    margin: 2rem auto 0 0;
  }

  .map-img {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 1rem 3rem 0 5rem;
  }

  .map-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .top-link {
    /* bottom: 3rem; */
    /* right: -5rem; */
  }
}

@media screen and (min-width: 1600px) {

  .hero .svg-container {
    width: 65rem;
  }

  .hero h2 {
    font-size: 3.5rem;
  }

  .social-medias {
    flex-direction: column;
    top: 0;
    left: 65rem;
  }

  @keyframes appearSocial {
    to {
      left: 72rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1400px;
      height: 1400px;
      opacity: 0;
    }
  }

  .hero .cta {
    font-size: 4.5rem;
  }

  .social-medias .fab,
  .social-medias .fa-solid {
    font-size: 3rem;
  }

  .social-medias {
    width: 14rem;
  }

  .mail-popup {
    top: -1.7rem;
    left: -17rem;
  }


  #about {
    /* padding: 5rem 12rem; */
    /* padding: 0 12rem 20rem; */
  }

  .my-text h2 {
    font-size: 4rem;
  }

  .hero-img {
    width: 30rem;
  }

  .project-info {
    padding: 0 2rem;
  }

  .item {
    width: 60%;
  }

  .top-link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1800px) {

  .hero .svg-container {
    width: 60rem;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .social-medias {
    left: 60rem;
  }

  @keyframes appearSocial {
    to {
      left: 75rem;
      opacity: 1;
    }
  }

  @keyframes drop {
    10% {
      opacity: 1;
    }

    100% {
      width: 1500px;
      height: 1500px;
      opacity: 0;
    }
  }

  .my-text h2 {
    font-size: 5rem;
  }

  /* TEST? */
  .project-info {
    flex: 1;
  }

  .project-tools {
    padding: 1.3rem 0 1.9rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .project-tools .tools-list>li {
    font-size: 1.5rem;
  }

  .description {
    font-size: 2rem;
  }

  .buttons-container .button {
    font-size: 1.7rem;
  }

  .mail-form {
    max-width: 80%;
  }
}

@media screen and (min-width: 1989px) {
  .my-text h2 {
    min-width: 115%;
  }
}

@media screen and (min-width: 2000px) {
  .mail-form {
    max-width: 45%;
  }
}


@media screen and (min-width: 2560px) {

  .social-medias {
    left: 100rem;
  }

  @keyframes appearSocial {
    to {
      left: 95rem;
      opacity: 1;
    }
  }

}